<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="map-wrapper">
                <div class="map-border">                    
                    <div id="mymap"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">        
            <div class="col-4 text-center">
                <p> Choix de la parcelle : </p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">         
                    <label class="btn btn-success active" for="larzat"><input type="radio" id="larzat" name="parcelle" value="larzat" (click)="setParcelle('larzat')" [(ngModel)]="defaultParcelle">Larzat</label>
                    <label class="btn btn-success" for="arnel"><input type="radio" id="arnel" name="parcelle" value="arnel" (click)="setParcelle('arnel')" [(ngModel)]="defaultParcelle">Arnel</label>
                    <label class="btn btn-success" for="estagnol"><input type="radio" id="estagnol" name="parcelle" value="estagnol" (click)="setParcelle('estagnol')" [(ngModel)]="defaultParcelle">Estagnol</label>
                </div>           
                <table class="table">
                    <tr>
                        <td>Nom de la parcelle : </td>
                        <td id="name">Larzat</td>
                    </tr>
                    <tr>
                        <td>Surface : </td>
                        <td id="area">6.71 Ha</td>
                    </tr>
                    <tr>
                        <td>Cépage : </td>
                        <td id="cepage">Syrah</td>
                    </tr>
                    <tr>                        
                        <td>Interrang : </td>
                        <td id="interrang">2.5 m</td>
                    </tr>
                </table>
            </div>
            <div class="col-4 text-center" id="descr_parcelle">
                <div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Jouer avec ces conditions</button>
                </div>
            </div>
            <div class="col-4  text-center">
                    <p> Choix du millésime : </p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">                        
                        <label class="btn btn-warning active" for="pica2017"><input type="radio" id="pica2017" name="millesime" value="pica2017" (click)="setMillesime('pica2017')" [ngModel]="defaultMillesime">2017</label>
                        <label class="btn btn-warning" for="pica2018"><input type="radio" id="pica2018" name="millesime" value="pica2018" (click)="setMillesime('pica2018')" [ngModel]="defaultMillesime">2018</label>
                        <label class="btn btn-warning" for="pica2019"><input type="radio" id="pica2019" name="millesime" value="pica2019" (click)="setMillesime('pica2019')" [ngModel]="defaultMillesime">2019</label>
                    </div>
                    <br>
                    <p><span id = "millesime"> 2017 : Lien fort entre rendement et vigueur</span></p>           
            </div>
        </div>        
    </form>
</div>
<div class="container">
    <div class="row  align-items-center">
      <div class="col-4 col-lg-5">
      </div>
      <div class="col-4 col-lg-2 text-center">
          <a routerLink=""><img src="assets/images/logopica.png" alt="Logo Pic@ by Nina et Corentin" width="100%" style="float:right"></a>
      </div>
      <div class="col-4 col-lg-5">
      </div>
    </div>
</div>