<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="map-wrapper">
                <div class="map-border">                    
                    <div id="mymapresultat"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-dark table-bordered table-hover" data-href="#">
                <thead>
                    <tr>
                        <th scope="col">Parcours</th>
                        <th scope="col">Temps</th>
                        <th scope="col">Erreur</th>
                        <th scope="col">Nombre de Points</th>
                    </tr> 
                </thead>                      
                <tbody>                    
                    <tr *ngFor="let planJoueur of PlanjoueurService.plansjoueur" (click)="changePlan(planJoueur)">
                        <td>Essai n°{{planJoueur.index+1}}</td>
                        <td>{{planJoueur.temps[0]}} min et {{planJoueur.temps[1]}} sec</td>                        
                        <td>{{planJoueur.erreur}}%</td>                                                
                        <td>{{planJoueur.nbPoints}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Le parcours optimal :</td>
                        <td id = "parcoursOptimal_temps"></td>
                        <td id = "parcoursOptimal_erreur"></td>                        
                        <td id = "parcoursOptimal_nbPoint"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <a routerLink="parametre" type="button" class="btn btn-primary btn-lg btn-block" style="color: white;" (click)="startAgain()">Refaire mon plan</a>
        </div>
        <div class="col-6">
            <a routerLink="parametre" type="button" class="btn btn-success btn-lg btn-block" style="color: white;" (click)="voirOptimal()">Terminer et voir le plan optimal</a>
        </div>
    </div>
</div>
<div class="container" style="padding:15px">
    <div class="row  align-items-center">
      <div class="col-4 col-lg-5">
      </div>
      <div class="col-4 col-lg-2 text-center">
          <a routerLink=""><img src="assets/images/logopica.png" alt="Logo Pic@ by Nina et Corentin" width="100%" style="float:right"></a>
      </div>
      <div class="col-4 col-lg-5">
      </div>
    </div>
</div>